@model LoginViewModel

@{ Layout = null; }
<html>
<head>
    <script src="~/js/jquery.js"></script>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/css/administration.css" rel="stylesheet" />
    <meta http-equiv="Content-Security-Policy" content="img-src 'self' data:; default-src 'self'">
</head>
<body>
    @if (Model.IsActive)
    {
        <div class="container">
            <div class="row">
                <div class="col-sm-12 mt3">
                    <img class="profile-img" src="@Model.ClientIcon" />
                </div>
                <div class="col-sm-12 mt3">

                    <h1 class="text-center login-title">@Model.ClientDisplayName requests access to your account</h1>
                    <h1 class="text-center">Continue To <b>@Model.ClientDisplayName</b></h1>

                    <h5 class="text-center">By Signing with your @Model.SingleSignOnAuthorityName Account</h5>
                    <center>
                        <div class="account-wall logincard">
                            <img class="center" src="/images/authcentral.webp" alt="Login Authority Logo">
                            <form class="form-signin mt-2" asp-route="Login">
                                <input asp-for="Username" type="text" class="form-control" placeholder="Username" required autofocus>
                                <input asp-for="Password" type="password" class="form-control" placeholder="Password" required>
                                <button class="btn btn-lg btn-primary btn-block" type="submit" value="login" name="button">
                                    Sign in
                                </button>
                                <label class="checkbox pull-left">
                                    <input type="checkbox" value="remember-me" asp-for="RememberLogin">
                                    Remember me
                                </label>
                                <a href="#" class="pull-right need-help">Need help? </a><span class="clearfix"></span>
                            </form>
                        </div>
                    </center>
                    <a href="#" class="text-center new-account">Create an account </a>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container">
            <div class="row">
                <div class="col-md-12 mt3">
                    <img class="profile-img" src="@Model.ClientIcon" />
                </div>
                <div class="col-md-12">
                    <h1 class="text-center login-title">We're sorry. You cannot login</h1>
                    <h1 class="text-center">Access To <b>@Model.ClientDisplayName</b></h1>
                    <h5 class="text-center">Is temporarly unavailable or disabled. Try again after sometime</h5>
                    <h5 class="text-center">Or contact site maintainers</h5>
                </div>
            </div>
        </div>
    }
</body>
</html>

@*<div class="login-page">
        <div class="lead">
            <h1>Login</h1>
            <p>Choose how to login</p>
        </div>

        <partial name="_ValidationSummary" />

        <div class="row">

            @if (Model.EnableLocalLogin)
            {
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h2>Local Account</h2>
            </div>

            <div class="card-body">
                <form asp-route="Login">
                    <input type="hidden" asp-for="ReturnUrl" />

                    <div class="form-group">
                        <label asp-for="Username"></label>
                        <input class="form-control" placeholder="Username" asp-for="Username" autofocus>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password"></label>
                        <input type="password" class="form-control" placeholder="Password" asp-for="Password" autocomplete="off">
                    </div>
                    @if (Model.AllowRememberLogin)
                    {
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" asp-for="RememberLogin">
            <label class="form-check-label" asp-for="RememberLogin">
                Remember My Login
            </label>
        </div>
    </div>}
                    <button class="btn btn-primary" name="button" cccccccccccccccccccccccccccccccccccccccccc>Login</button>
                    <button class="btn btn-secondary" name="button" value="cancel">Cancel</button>
                </form>
            </div>
        </div>
    </div>}

            @if (Model.VisibleExternalProviders.Any())
            {
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">
                <h2>External Account</h2>
            </div>
            <div class="card-body">
                <ul class="list-inline">
                    @foreach (var provider in Model.VisibleExternalProviders)
                    {
    <li class="list-inline-item">
        <a class="btn btn-secondary"
           asp-controller="External"
           asp-action="Challenge"
           asp-route-scheme="@provider.AuthenticationScheme"
           asp-route-returnUrl="@Model.ReturnUrl">
            @provider.DisplayName
        </a>
    </li>
    }
                </ul>
            </div>
        </div>
    </div>}

            @if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
            {
    <div class="alert alert-warning">
        <strong>Invalid login request</strong>
        There are no login schemes configured for this request.
    </div>}
        </div>
    </div>*@